body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-size: cover;
}
.header{

font-size: 490%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
font-weight: normal;
font-style: normal;
text-align: center;
margin-top: 0px;
background-color: rosybrown;
word-wrap: break-word;
opacity: 0.8;
border-radius: 14px;
text-shadow: 7px 7px 7px black;
}
